/* Basic style reset... */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* --------------------------------------------------------------- */

body {
  width: 100%;
  height: 100vh;
}

.code-editor-container {
  width: 100%;
  height: 70%;
  background-color: rgb(12, 17, 20);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  overflow: auto;
}

.code-editor {
  width: 450px;
  height: 450px;
  background-color: rgb(12, 17, 20);
  box-shadow: 2px 2px 10px black;
  border: 2px solid rgba(255, 255, 255, 0.122);
  border-radius: 20px;
  overflow: auto;
  position: relative;
}

.head-editor {
  width: 100%;
  height: 60px;
  background-color: rgb(12, 17, 20);
  box-shadow: 2px 4px 10px black;
  border-radius: 0px 0px 30px 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.left-head span {
  color: #ffffff96;
  font-size: 23px;
}

.right-head img {
  transition: all 0.2s;
  cursor: pointer;
}

.right-head img:hover {
  scale: 120%;
}

.code-editor textarea {
  width: 100%;
  height: calc(100% - 80px);
  background-color: rgb(12, 17, 20);
  resize: none;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: #fff;
  font-size: 23px;
}

.output-container {
  width: 100%;
  height: 30%;
  box-shadow: 2px -4px 10px rgb(36, 71, 72);
  color: #fff;
  font-size: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  transition: all 0.5s;
}

.output-head {
  width: 100%;
  height: 60px;
  background-color: rgb(12, 17, 20);
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  padding: 20px;
}

.output-head img {
  transition: all 0.2s;
  cursor: pointer;
}

.output-head img:hover {
  scale: 120%;
}

#output {
  width: 100%;
  height: calc(100% - 60px);
  background-color: white;
  overflow: auto;
}

.output-full-active {
  height: 100%;
}

.rotate {
  transform: rotate(180deg);
}

#full {
  transition: all 1s;
}

textarea::selection {
  background-color: rgba(128, 0, 128, 0.616);
}
