* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.board {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-top: 3em;
  margin-bottom: 20px;
}

.square {
  width: 145px;
  height: 145px;
  border: 1px solid purple;
  background-color: #5f5f5f;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.restart-button {
  display: block;
  margin: 0 auto;
  padding: 12px 20px;
  border: 2px solid #000;
  background-color: #cbc6c6;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
}

.message {
  text-align: center;
  margin-bottom: 30px;
  font-size: 4rem;
  font-weight: bolder;
}
