* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 62.5% = 10px */
}

body {
  text-align: center;
}

.modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  animation-name: animateModal;
  animation-duration: 0.5s;
}

@keyframes animateModal {
  from {
    top: -200px;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

button {
  padding: 1em 2em;
  border: none;
  background-color: #4c5053;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}
