* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* ---------------------------------------------------------------------- */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.img-box {
  width: 60%;
  margin: auto;
  line-height: 0;
  background-image: url(./images/bg.png);
  overflow: hidden;
  position: relative;
}

.img-wrap {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

span {
  width: 1px;
  height: 100%;
  cursor: ew-resize;
  background: #fff;
  position: absolute;
  left: 280px;
  top: 0;
}

.arrow {
  width: 40px;
  position: absolute;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  background-color: rgba(169, 169, 169, 0.563);
  border-radius: 50%;
}
