/* Basic css reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* ------------------------------------------------------------------ */

body {
  width: 100%;
  height: 100%;
}

.search-area {
  width: 100%;
  height: 400px;
  background-image: url("bg.jpg");
  background-size: 100% 100%; /* width, height */
  position: relative;
}

/* ----------------------------------------------------------------------------- */

/* position absolute is basically, the element which has this absolute value, it can position anywhere in the DOM window if it's parent is the whole DOM window or u set it that way, by default position is static...but if the parent is position relative, the absolute element rome around the relative parent... although the relative and absolute position unlocks many properties. in the overlay effect here we gonna take leverage of it...  */

/* overlay effect on background img */
.black {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.456);
  width: 100%;
  height: 100%;
}

/* ############################################################################# */

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1; /*we can give z-index to an element, if the element has any position...*/
  gap: 20px;
}

.content h1 {
  color: #faf0f0;
  font-size: 4vh;
}

.content p {
  color: #faf0f0;
  font-size: 2.3vh;
  font-weight: 500;
}

.search-box {
  width: 60%;
  height: 15%;
  background-color: hsl(0, 13%, 95%);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

.btn {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.btn button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(177, 173, 173, 0.609);
  transition: all 0.2s;
  cursor: pointer;
}

.btn button:hover {
  background-color: rgb(177, 173, 173);
}

/* ############################################################################# */

/* image galary styles start from here... */

/* Masonry Layout */
.images-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

.images-gallery .images {
  columns: 5 340px;
  max-width: 95%;
  margin-top: 20px;
}

/* -------------------------------------------------------------------- */

.image {
  overflow: hidden;
  /* img tag er parent (image class). hover kore scale hocche ar overflow hocche tai hidden korte hobe element er parent a... */
  margin-bottom: 15px;
  list-style: none;
  position: relative;
  cursor: pointer;
}

.photo {
  width: 100%;
  transition: all 0.4s;
}

.photo:hover {
  scale: 110%;
}

.image .details {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, black, transparent);
  padding: 20px;
  color: white;
  transition: all 0.3s;
}

.image:hover .details {
  bottom: 0;
}

.details .user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.download img {
  padding: 10px;
  background-color: rgba(177, 173, 173, 0.448);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.download img:hover {
  background-color: rgba(177, 173, 173, 0.756);
}

#load {
  padding: 20px 45px;
  border: none;
  border-radius: 10%;
  background-color: #0c111674;
  transition: all 0.2s;
  cursor: pointer;
  color: #fff;
  font-size: 32px;
  font-weight: bolder;
  display: none;
}

#load:hover {
  transform: translateY(-3px);
  background-color: #0c1116a9;
}

#load:active {
  transform: translateY(0);
}

/* Responsive Design... */

@media (max-width: 800px) {
  .content h1 {
    font-size: 5vw;
  }

  .content p {
    color: white;
    font-size: 3vw;
  }

  .search-box {
    width: 80%;
    height: 10%;
  }

  .btn button {
    width: 35px;
    height: 35px;
  }

  .btn button img {
    width: 20px;
  }
}
