* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  min-height: 100vh;
}

.quote-wrapper .quote-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 2px solid brown;
  padding: 20px;
  background-color: gray;
}

.refresh-button {
  color: aliceblue;
  padding: 12px 20px;
  background-color: gray;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.quote-wrapper .quote-item p {
  color: #fff;
  font-size: 18px;
}

.loader {
  font-size: 1.8rem;
  font-weight: bolder;
  display: none;
}

.loader.show {
  display: block;
}

.quote-wrapper.hide {
  display: none;
}
