* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 15px;
}

.filter-buttons-wrapper {
  display: flex;
  gap: 10px;
  margin: 20px 0px;
}

.filter-buttons-wrapper button {
  padding: 12px 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: rgb(87, 84, 80);
  cursor: pointer;
  color: rgba(216, 228, 238, 0.814);
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.content-wrapper .card {
  width: 32%;
  padding: 30px;
  background-color: #2D3C59;
  font-size: 30px;
  color: aliceblue;
}

.hide {
  display: none;
}
